

body {
    background-color: #ffffff;
}

#Signin {
    border: 1px solid blue transparent;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: snow;
}
h1 {
    color: red;
}
h3 {
    color: green;
    margin-left: 30px;
}

#email {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 30px;
}

#password {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 30px;
}

#username {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    color: springgreen;
    margin-left: 30px;
}

#mob {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-left: 30px;
}

#submit {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: springgreen;
    margin-left: 30px;
}